

body {background-color: yellow}

h1 {
text-align: center;
color: blue;
background-color: green;
}

h3 {background-color:#F575C3;
text-align: center;
color: red;}
b {color: blue;
font-size: 30px;
}
i {color: green;
font-size: 40px
}
s {color: blue;}
p1 {color: darkorange}
p2 {color: lightgray}

p3 {color: rgb(0, 0, 255);}